header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  background: rgb(179, 205, 229);
  padding-left: 250px;
  padding-right: 50px;
}

.heading {
  display: flex;
}

.heading ul {
  padding-top: 10px;
  list-style-type: none;
  display: flex;
  flex-wrap:wrap;
}

.heading ul li a{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  color: black;
  margin: 2px 30px;
  transition-duration: 1s;
}

.heading ul li a:hover {
  color: rgb(243, 168, 7);
  transition-duration: 1s;
}
.logo{
  min-width: fit-content;
  min-height: fit-content;
}

.logo img {
  width: 100%;
  height: 100%;
}

.user-info {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: black;
  margin: 2px 30px;

}
#due-tasks-count{
  margin: 0 0 0 -25px;
  border-radius: 10px;
  height: 20px;
  min-width: 20px;
  padding: 0 5px;
  font-size: 12px;
  background-color: var(--bs-danger);
  color: white;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-wrap: wrap;
  font-weight: bold;
  user-select: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  color: black;
  font-weight: 500;
  font-size: 18px;
  margin: 2px 30px;
}
/* margin removed so that content aligns with text */
.dropdown>a{
  margin: 0!important;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-top: 10px;
  width: 270px !important;
}

.dropdown-a {
  color: black !important;
  font-weight: 150 !important;
  font-size: 16px !important;
}

.dropdown-item-container:hover {
  background-color: #dcdcdc;
  transition-duration: 1s;
}